/* color: #FED101; */

table {
    background: #FFF;
    border: 1px solid rgba(34, 36, 38, .15);
    box-shadow: none;
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0, 0, 0, .87);
    border-collapse: separate;
    border-spacing: 0;
    font-size: 16px;
    font-weight: 500;
    width: calc(100% - 48px);
}

thead {
    height: 100px;
    width: 100%;
    background-color: #F9FAFB;

    th {
        padding: 10px 0;
        width: calc(100% / 6);
    }

    th:nth-child(1){
        width: 5%;
        text-align: center;
    }
    th:nth-child(2){
        width: 7%;
    }

    tbody tr td {
        min-height: 100px;
        overflow: hidden;
        border: 1px solid rgba(34, 36, 38, .1);
        padding: 10px;
        position: relative;
    }

    tbody tr td.td-group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    tbody tr td.td-group td {
        width: 20%;
    }

}


td {
    height: 104px;
    border-bottom: 1px solid #e5e5e5;
}


tfoot {
    height: 100px;
    width: 100%;
    background-color: #F9FAFB;
}

tfoot tr>td {
    height: 50px !important;
    text-align: right;
    padding: 10px;
    border: 1px solid rgba(34, 36, 38, .1);
}


.btn {
    color: #333;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    height: 32px;
    min-width: 72px;
    padding: 0 32px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px 0 0; 
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    outline: none;
}

.btn.btn-primary {
    background-color: #ee4d2d;
    color: #FFF;
}
.btn.btn-primary.larger {
    height: 40px;
}

.mt-16 {
    margin: 16px 20px 16px 0;
}
.outline-pri {
    border: 1px solid #ee4d2d !important;
}

 td.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 370px;
    max-width: 370px;
    padding: 0 20px 0 0;
    img {
        width: 56px;
        height: 56px;
    }
    .product-name {
        width: 306px;
        max-width: 306px;
        padding: 0 10px;
    }
}